.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  top: 60px;
  width: 65px;

  background-color: rgb(255, 255, 255);
  border-bottom-width:1px;
  border-bottom-color: rgb(238, 235, 235);
  border-bottom-style: solid ;

  z-index: 200;
  padding-top: 5px;
}

.sidebar-link{
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(236, 233, 233);
}

.sidebar-link img{
  height: 25px;
  margin-bottom: 5px;
}

.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
  font-weight: 500;
}